.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    margin-bottom: 20px;
}

.buttonbar {
    background-color: transparent;
    color: var(--cor-amarela);
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 280px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}

.buttonbar:hover {
    border-bottom: 1px solid var(--cor-branca); 
    border-top: 1px solid var(--cor-branca)
}