.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

button {
    background-color: transparent;
    color: var(--cor-amarela);
    font-family: 'DM Sans Bold';
    font-size: 21px;
    width: 280px;
    height: 50px;
    border-bottom: 1px solid var(--cor-branca); 
    border-top: 1px solid var(--cor-branca);
    border-left: none;
    border-right: none;
    cursor: pointer;
    margin-left: 14px;
    
}

button:hover {
    background-color: var(--cor-rosa-escuro);
    scale: 1.1;
    color: var(--cor-branca);

}