#fale-comigo {
    font-family: 'Lemon Days';
    color: var(--cor-branca);
    font-size: 66px;
    margin: 100px 150px 60px -150px;
    display: flex;
    justify-content: center;
}

#conteudo {
    flex-direction: row;
}

#img-1, #img-2 {
    border-radius: 50%;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
}

.demonstracao {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

#instrucao {
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

label {
    margin: 10px;
}

.tipo-input {
    color: #FDC61F;
    margin-bottom: 5px;
}

#c-nome-social, #c-sobrenome, #c-email {
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 188px;
}

#c-email {
    width: 400px;   
}

#campo-interesse {
    border: none;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    margin-bottom: 20px;
}

#botao-enviar {
    background-color: #FDC61F;
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

@media (max-width: 768px) {
    #fale-comigo {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #conteudo {
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }
    #c-email, #campo-interesse {
        width: 300px;
    }
    
}