:root {
    --cor-rosa: #AD49A3;
    --cor-rosa-escuro: #84377C;
    --cor-amarela: #FDC61F;
    --cor-branca: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(/assets/images/fundo.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Lemon Days';
    /* font-size: 111px; */
    font-size: clamp(3em, 1rem + 10vw, 7rem); 
    color: var(--cor-amarela);
    margin: 40px;
}

.titulo-branco {
    font-family: 'Lemon Days';
    color: var(--cor-branca);
    font-size: 40px;
    margin-bottom: -6px;
    margin-top: 100px;
}

.coluna {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 10px;
    
}

.carousel.slide {
    max-width: 1000px;
    max-height: 800px;
    object-fit: cover;

}


                            /* Design Gráfico */
h3 {                                            
    margin-top: 6px;
    margin-bottom: 20px;
    font-family: 'DM Sans', sans-serif; 
    font-size: 18px;
    color: var(--cor-branca);
}

#titulo-do-projeto {
    font-family: 'DM Sans';
    font-size: 26px;
    font-size: clamp(0,1rem, 2rem, 3rem);
    color: var(--cor-branca);
    
}

#descricao {
    font-family: 'DM Sans';
    /* font-size: 17px; */
    font-size: clamp(0,1rem, 1rem, 3rem);
    color: var(--cor-branca);
}

.carousel-control-prev-icon {
    background-image: url(/assets/icons/prev.png);
    max-width: 25px;
    max-height: 45px;
}

.carousel-control-next-icon {
    background-image: url(/assets/icons/next.png);
    max-width: 25px;
    max-height: 45px;
}

#indicadores .active {
    background-color: #FFC700;
}

.carousel-caption {
    background: linear-gradient(to bottom, #000000, #2b1528);
    border-radius: 10px;
    cursor: pointer;
}

.carousel-inner {
    border-radius: 10px;
    min-height: 700px;
}

/* -------------------- PÁGINA SOBRE ------------------- */ 

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.apresentacao {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .apresentacao {
        margin-top: 80px;
        flex-direction: column;
    }
}

.perfil {
    border-radius: 50%;
    box-shadow: 1px 1px 30px;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    margin-top: -70px;
    margin-right: 20px;
    min-width: 40px;
    min-height: 40px;
}

.titulo-pagina-sobre {
    font-family: 'Lemon Days';
    color: var(--cor-branca);
    font-size: 66px;
    margin-bottom: -6px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}

.container-branco {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branca);
    border-radius: 30px;
    max-width: 620px;
    max-height: 200px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container-branco {
        max-width: 400px;
        max-height: 350px;
    }
}

#texto-sobre-lara {
    font-family: 'DM Sans Regular', sans-serif;
    line-height: 1.2;
    font-size: 20px;
    padding: 20px 40px;
    color: #8F397E;
    margin: 0 auto;
    text-align: justify;
}

#habilidade {
    font-family: 'Lemon Days';
    color: var(--cor-branca);
    font-size: 66px;
    margin: 100px 240px -10px 0;
    display: flex;
    justify-content: flex-end;
}

#section2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    margin-left: 320px;
}

@media (max-width: 768px) {
    #section2 {
        margin: 0 auto; /* Aplica a margem esquerda apenas em dispositivos maiores */
    }
}

.estrela {
    max-width: 30px;
    margin-right: 10px;
}

.container-habilidade {
    /* max-width: 600px; */
    display: flex;
    justify-content: flex-start;  
    align-items: center;
}

@media (max-width: 710px) {
    .container-habilidade {
        max-width: 400px;
        max-height: 350px;
    }
}

#topicos {
    color: var(--cor-branca);
    font-family: 'DM Sans Regular', sans-serif;
    font-size: 25px;
}

#interesse {
    font-family: 'Lemon Days';
    color: var(--cor-branca);
    font-size: 66px;
    margin: 100px 260px -10px 0;
    justify-content: flex-end;
}
