:root {
    --cor-rosa: #AD49A3;
    --cor-rosa-escuro: #84377C;
    --cor-amarela: #FFC700;
    --cor-branca: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--cor-rosa), var(--cor-rosa-escuro));
    
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Lemon Days';
    font-size: 111px;
    color: var(--cor-amarela);
    margin: 50px;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
}

button {
    background-color: transparent;
    color: var(--cor-amarela);
    font-family: 'DM Sans Bold';
    font-size: 21px;
    width: 280px;
    height: 50px;
    border-bottom: 1px solid var(--cor-branca); 
    border-top: 1px solid var(--cor-branca);
    border-left: none;
    border-right: none;
    cursor: pointer;
    margin-left: 14px;
    
}

button:hover {
    background-color: var(--cor-rosa-escuro);
    scale: 1.1;
    color: var(--cor-branca);

}

.projetos {
    font-family: 'Lemon Days';
    color: var(--cor-branca);
    font-size: 40px;
    margin-bottom: -6px;
    margin-top: 85px;
}

h3 {
    margin-top: 6px;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-branca);
}

.coluna {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 520px;
    padding-right: 520px;
}

img {
    width: 901px;
    margin-bottom: -17px;
    border-radius: 10px;
}

img:hover {
    scale: 1.015;
    cursor: pointer;
}

h4 {
    font-family: 'DM Sans';
    font-size: 26px;
    color: var(--cor-branca);
    margin-bottom: -9px;
}

p {
    font-family: 'DM Sans';
    font-size: 17px;
    color: var(--cor-branca);
}
