:root {
    --cor-rosa: #AD49A3;
    --cor-rosa-escuro: #84377C;
    --cor-amarela: #FFC700;
    --cor-branca: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(/assets/images/fundo.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Lemon Days';
    font-size: 111px;
    color: var(--cor-amarela);
    margin: 40px;
}

.projetos {
    font-family: 'Lemon Days';
    color: var(--cor-branca);
    font-size: 40px;
    margin-bottom: -6px;
    margin-top: 100px;
}

.coluna {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 520px;
    padding-right: 520px;
}

.img-do-projeto {
    width: 901px;
    margin-bottom: -17px;
    border-radius: 10px;
}

.img-do-projeto:hover {
    scale: 1.015;
    cursor: pointer;
}

h3 {
    margin-top: 6px;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    color: var(--cor-branca);
}

.titulo-do-projeto {
    font-family: 'DM Sans';
    font-size: 26px;
    color: var(--cor-branca);
    margin-bottom: -9px;
}

.descricao {
    font-family: 'DM Sans';
    font-size: 17px;
    color: var(--cor-branca);
}

